.bottomSE {
  margin: 15px 0px;
  width: fit-content;
  height: fit-content;
  padding: 15px 45px;
  align-self: center;
}

.singleContainer {
  padding: 75px 0px;
}

.singleColumn {
  width: 70%;
}

#activitiesContainer {
  width: 100%;
}

.SEActivityWrapper {
  width: 100px;
}

.singleActivityRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 0px 15px 15px 15px;
  border-bottom: 1px solid black;
}

.activityEventTitle {
  align-self: center;
  text-align: center;
  margin: 19px 0px 25px 0px;
  text-transform: capitalize;
}

.link {
  color: rebeccapurple;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.fontAwesomeLink {
  transform: scale(.65);
}


