#UPMaster {
  padding: 75px 0px;
  height: 100vh;
}

#UPForm {
  margin: 50px 0px 36px 0px;
}

.UPFormInput {
  margin: 0px 0px 0px 20px;
}

.formLabInp {
  margin: 20px 0px 20px 36px;
  font-size: 16px;
}

#UPDeleteButton {
  margin: 0px 25px 0px 0px;
}

#UPTitle {
  margin: 0px;
  text-align: center;
}

#UPButtonRow {
  margin: 15px 0px 50px 0px;
}

#UPBackButton {
  margin: 0px 0px 0px 25px;
}

#UPSubmitButton {
  margin: 36px auto 0px auto;
}
