html {
  margin: 0px;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0px;
}

.flex {
  display: flex;
}
.aItemsC {
  align-items: center;
}
.aItemsFS {
  align-items: flex-start;
}
.jContentSE {
  justify-content: space-evenly;
}
.jContentSB {
  justify-content: space-between;
}
.jContentC {
  justify-content: center;
}
.column {
  flex-direction: column;
}

.jContentFS {
  justify-content: flex-start;
}

.jContentSB {
  justify-content: space-between;
}

.jContentSA {
  justify-content: space-around;
}

.fullHeight {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.192);
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w75 {
  width: 75%;
}

* {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.teal {
  background-color: #38c1d3;
}
.pink {
  background-color: #e40065;
}
.yellow {
  background-color: #ffc300;
}

.tealFade {
  background-color: #38c1d3a4;
}
.pinkFade {
  background-color: #e40067a4;
}
.yellowFade {
  background-color: #ffc400a4;
}

.button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-width: 50px;
  min-height: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button:active {
  transform: scale(0.97);
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#dropMenu {
  z-index: 50;
}

#mapBox {
  min-width: 250px;
  min-height: 250px;
  height: 50vw;
  width: 50vw;
}

.darkenOff {
  transform: translateY(100%);
}

.darkenOn {
  transform: translateY(0%);
}

.background1Up {
  background-image: linear-gradient(to top right, #fff5d6, #def5f8);
}

.background2Up {
  background-image: linear-gradient(to top right, #def5f8, #ffebf4);
}

.background3Up {
  background-image: linear-gradient(to top right, #ffebf4, #fff5d6);
}

.background1Down {
  background-image: linear-gradient(to bottom right, #fff5d6, #def5f8);
}

.background2Down {
  background-image: linear-gradient(to bottom right, #def5f8, #ffebf4);
}

.background3Down {
  background-image: linear-gradient(to bottom right, #ffebf4, #fff5d6);
}

input,
select,
textarea {
  border-radius: 10px;
  border: none;
  padding: 5px 15px;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
