html {
  margin: 0px;
}
body {
  margin: 0px;
}

.flex {
  display: flex;
}
.aItemsC {
  align-items: center;
}
.jContentC {
  justify-content: center;
}
.column {
  flex-direction: column;
}

.jContentFS {
  justify-content: flex-start;
}

.fullHeight {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.192);
}

* {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.teal {
  background-color: #38c1d3;
}
.pink {
  background-color: #e40065;
}
.yellow {
  background-color: #ffc300;
}
