html {
  margin: 0px;
}

.App {
  min-height: 100vh;
}

body {
  margin: 0px;
}

.flex {
  display: flex;
}
.aItemsC {
  align-items: center;
}
.aItemsFS {
  align-items: flex-start;
}
.jContentC {
  justify-content: center;
}
.column {
  flex-direction: column;
}

.jContentFS {
  justify-content: flex-start;
}

.jContentSB {
  justify-content: space-between;
}

.jContentSA {
  justify-content: space-around;
}

.fullHeight {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.192);
}

.w100 {
  width: 100%;
}

* {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.teal {
  background-color: #38c1d3;
}
.pink {
  background-color: #e40065;
}
.yellow {
  background-color: #ffc300;
}

.button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-width: 50px;
  min-height: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button:active {
  transform: scale(0.97);
}

#dropMenu {
  z-index: 500;
}
