#radioContainer {
  font-size: 10px;
}

#radioContainer input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#radioContainer label {
  font-size: 1.6em;
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 0.1em solid black;
  background-color: #e40067a4;
  border-radius: 0.5em;
  margin: 2em 1em;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 10.5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#radioContainer input[type='radio']:checked + label {
  background-color: #38c1d3a4;
}

.centeredLabel {
  margin: auto;
  height: 100%;
  width: 100%;
}

.whiteBtnTextCE {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: inherit;
  font-weight: bold;
}

.layout {
  overflow: scroll;
  width: 70%;
  padding: 60px 0px 55px 0px;
  height: 100%;
}

.layout::-webkit-scrollbar {
  display: none;
}

.createInput {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  margin: 15px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.createTextArea {
  width: 80%;
  height: 300px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.googleMapWrapper {
  font-size: 10px;
  margin: 100px 0px 55px 0px;
  width: 55em;
  height: 75em;
  overflow: auto;
}

#mapLocationInput {
  margin: 2.5em 0px 2em 0em;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.6em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

#CREventAddress {
  font-size: 1.8em;
  margin: 0em 0em 0.5em 0em;
}

#finalLocation {
  font-size: 1.5em;
}

.buttonThreeBallonWrapper {
  position: relative;
  align-self: center;
  margin: 2.5em 0px;
  width: 15em;
  height: 4.5em;
}

.createButton {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffc506;
  box-shadow: 2px 2px 2px rgb(220, 220, 220);
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  z-index: 5;
  border: none;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 1em;
  cursor: pointer;
}

.createButton:active {
  transform: scale(1.02);
}

.createButton:disabled {
  background-color: #fff2c8;
  opacity: 1;
  cursor: none;
}

@keyframes CRPulse {
  0% {
    opacity: 0.5;
    width: 0em;
    height: 0em;
  }
  100% {
    opacity: 0;
    width: 36em;
    height: 36em;
  }
}

.CRPulse {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: CRPulse 1s linear 0s 1;
  transform: translate(-50%, -50%);
}

.confBold {
  font-size: 1.6em;
  font-weight: bolder;
  margin: 0em 1em 0em 4em;
}

.confLine {
  margin: 1em 0px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.confValue {
  font-size: 1.4em;
  margin: 0px 4em 0px auto;
}

.confValueDesc {
  font-size: 1.4em;
  margin: 0px;
}

.confValueError {
  font-size: 1.4em;
  margin: 0px 4em 0px auto;
  color: red;
}

.CATimeError {
  font-size: 1.4em;
  color: red;
  margin: 0px 2em 0px 2em;
}

.createForm {
  height: 100vh;
}

.updateForm {
  height: 90vh;
}

.CRBalloonBox {
  font-size: 10px;
  top: 0;
  left: 0;
  transform: translate(20px, 60px);
  position: absolute;
  width: 14em;
  height: 27em;
  z-index: 1;
  overflow: hidden;
}

.CRBalloonTeal {
  width: 17em;
  height: auto;
  position: absolute;
  transform: rotate(-18deg) translate(0em, -2em);
}

.CRBalloonTealDTP {
  width: 17em;
  height: auto;
  position: absolute;
  transform: scaleX(-1) rotate(-18deg) translate(0em, -2em);
}

.CRBalloonOrange {
  width: 17em;
  height: auto;
  position: absolute;
  transform: scaleX(-1) rotate(20deg) translate(-0.2em, -1.8em);
}

.CRBalloonPink {
  width: 13em;
  height: auto;
  position: absolute;
  transform: scaleX(-1) translate(0.1em, -1em);
}

.CRStampMessage {
  font-size: 1.8em;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  transform: translate(0.9em, -4.5em);
  text-align: center;
  width: 4em;
}

.CRStampMessageDTP {
  font-size: 1.8em;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  transform: translate(-0.9em, -4.4em);
  text-align: center;
  width: 5em;
}

.descriptionConfContainer {
  font-size: inherit;
  width: 125px;
  height: 25px;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 5.2em 0px auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.locationConf {
  max-width: 170px;
  margin: 0px 0px 0px auto;
  text-align: end;
}

.boldLabel {
  font-size: 16px;
  font-weight: bolder;
}

.marginBottom {
  margin-bottom: 10px;
}

.CEEventConfTitle {
  font-size: 2.5em;
  margin: 0px 0px 0px 2.45em;
}

.TildeErrorDiv {
  width: 100%;
  height: 45px;
}

.CRSlide {
  position: relative;
}

#CRDTPWrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  align-self: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.CRConfOverflow {
  height: 100vh;
  overflow-y: auto;
}

.CRConfMaster {
  position: relative;
  font-size: 10px;
  width: 100%;
  padding: 0em;
  height: 100%;
  overflow: visible;
}

.CRConfWrapper {
  position: absolute;
  font-size: inherit;
  z-index: 1;
  width: 100%;
}

#ThreeBalloonBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
}

.threeBalloonBalloon {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: auto;
}

.threeBalloon1 {
  width: 7em;
  transform: translate(-1em, -2em) rotate(-16deg);
}

.threeBalloon2 {
  width: 10em;
  transform: translate(3em, -4em) rotate(-32deg);
}

.threeBalloon3 {
  width: 10em;
  transform: translate(7.5em, -2.75em) scaleX(-1) rotate(-6deg);
}

@keyframes TB1Float {
  0% {
    transform: translate(-1em, -2em) rotate(-16deg);
  }
  25% {
    transform: translate(-9em, -25vh) rotate(16deg);
  }
  50% {
    transform: translate(-18em, -50vh) rotate(-16deg);
  }
  75% {
    transform: translate(-27em, -75vh) rotate(16deg);
  }
  100% {
    transform: translate(-36em, -100vh) rotate(16deg);
  }
}

.TB1Float {
  animation: TB1Float 2.5s linear 0s 1 normal forwards;
}

@keyframes TB2Float {
  0% {
    transform: translate(3em, -4em) rotate(-32deg);
  }
  25% {
    transform: translate(3em, -25vh) rotate(-64deg);
  }
  50% {
    transform: translate(3em, -50vh) rotate(-32deg);
  }
  75% {
    transform: translate(3em, -75vh) rotate(-64deg);
  }
  100% {
    transform: translate(3em, -100vh) rotate(-32deg);
  }
}

.TB2Float {
  animation: TB2Float 2.5s linear 0s 1 normal forwards;
}

@keyframes TB3Float {
  0% {
    transform: translate(7.5em, -2.75em) scaleX(-1) rotate(-6deg);
  }
  25% {
    transform: translate(15.6em, -25vh) scaleX(-1) rotate(12deg);
  }
  50% {
    transform: translate(23.7em, -50vh) scaleX(-1) rotate(-6deg);
  }
  75% {
    transform: translate(31.8em, -75vh) scaleX(-1) rotate(12deg);
  }
  100% {
    transform: translate(40em, -100vh) scaleX(-1) rotate(-6deg);
  }
}

.TB3Float {
  animation: TB3Float 2.5s linear 0s 1 normal forwards;
}

#mapBoxBoxShadow {
  position: fixed;
  font-size: 10px;
  width: 55em;
  height: 45em;
  border-radius: 5px;
  z-index: -1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Text Area Start*/
@media (max-height: 695px) {
  .createTextArea {
    height: 250px;
  }
}

@media (max-height: 625px) {
  .createTextArea {
    height: 200px;
  }
}
@media (max-height: 580px) {
  .createTextArea {
    height: 150px;
  }
}
@media (max-height: 525px) {
  .createTextArea {
    height: 100px;
  }
}
/* Text Area End */

/* Radio Container Start */
@media (max-height: 1050px), (max-width: 870px) {
  #radioContainer {
    font-size: 9px;
  }
}

@media (max-height: 925px), (max-width: 600px) {
  .CRBalloonBox {
    transform: translate(10px, 60px);
  }
  #radioContainer {
    font-size: 8px;
  }
}

@media (max-height: 825px), (max-width: 500px) {
  #radioContainer {
    font-size: 7px;
  }
}

@media (max-height: 725px) {
  #radioContainer {
    font-size: 6px;
  }
}

@media (max-height: 625px) {
  #radioContainer {
    font-size: 5px;
  }
  #radioContainer label {
    font-size: 2em;
    margin: 1.2em 1em;
    width: 8.5em;
    height: 4em;
  }
}

@media (max-height: 550px) {
  #radioContainer {
    font-size: 4px;
  }
}

/* Radio Container End */

/* Google Map Wrapper Start */
@media (max-height: 960px), (max-width: 660px) {
  .googleMapWrapper,
  #mapBoxBoxShadow {
    font-size: 9px;
  }
}

@media (max-height: 875px), (max-width: 600px) {
  .googleMapWrapper,
  #mapBoxBoxShadow {
    font-size: 8px;
  }
}

@media (max-height: 800px), (max-width: 545px) {
  .googleMapWrapper,
  #mapBoxBoxShadow {
    font-size: 7px;
  }
}

@media (max-height: 720px), (max-width: 485px) {
  .googleMapWrapper {
    font-size: 6px;
    margin: 80px 0px 0px 0px;
    height: 90em;
  }
  #mapBoxBoxShadow {
    font-size: 6px;
    height: 54em;
  }
  #mapLocationInput {
    padding: 5px 20px;
    font-size: 3em;
    margin: 1em 0em;
  }
  #CREventAddress {
    font-size: 3em;
    margin: 0em 0em 0.4em 0em;
  }
  #finalLocation {
    font-size: 2.5em;
  }
}

@media (max-height: 635px), (max-width: 430px) {
  .googleMapWrapper,
  #mapBoxBoxShadow {
    font-size: 5px;
  }
}

@media (max-height: 610px), (max-width: 375px) {
  .googleMapWrapper,
  #mapBoxBoxShadow {
    font-size: 4px;
  }
}

@media (max-height: 480px) {
  .googleMapWrapper {
    font-size: 3.5px;
    margin: 70px 0px 0px 0px;
  }
  #mapBoxBoxShadow {
    font-size: 3.5px;
  }
  #mapLocationInput {
    font-size: 3em;
    margin: 1em 0em;
  }
  #CREventAddress {
    font-size: 4em;
    margin: 0em 0em 0em 0em;
  }
  #finalLocation {
    font-size: 3em;
  }
}

/* Google Map Wrapper End */

/* Event Conf Start */

@media (max-height: 750px), (max-width: 650px) {
  .CRConfMaster {
    font-size: 9px;
  }
}

@media (max-height: 675px), (max-width: 500px) {
  .CRConfMaster {
    font-size: 8px;
  }
}

@media (max-height: 615px) {
  .CRConfMaster {
    padding: 50px 0px 38px 0px;
  }
}

@media (max-height: 500px) {
  .CRConfMaster {
    padding: 100px 0px 75px 0px;
  }
}

/* Event Conf End */

/* Balloon Box Start */

@media (max-width: 970px) {
  .CRBalloonBox {
    font-size: 9px;
  }
}

@media (max-width: 870px) {
  .CRBalloonBox {
    font-size: 8px;
  }
}

@media (max-width: 600px) {
  .CRBalloonBox {
    transform: translate(10px, 60px);
  }
}

@media (max-width: 536px) {
  .CRBalloonBox {
    transform: translate(5px, 60px);
  }
}

@media (max-width: 500px) {
  .CRBalloonBox {
    font-size: 7px;
  }
}

@media (max-width: 400px) {
  .CRBalloonBox {
    font-size: 6px;
  }
}

/* Balloon Box End */
