.deleteModal {
  align-items: center;
  height: 80%;
  text-align: center;
  font-size: 10px;
}

.deleteModal h1 {
  color: white;
  font-size: 3em;
  margin: 0em 1em 2em 1em;
}

.deleteModal h3 {
  color: white;
  font-size: 2em;
  margin: 0em 1em;
}

.deleteButtonModal {
  font-size: 1.6em;
  width: 50%;
  margin: 6em 0em;
  padding: 1.7em 0em;
  max-height: 45px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.deleteButtonModalCancel {
  font-size: 1.6em;
  width: 50%;
  padding: 1.7em 0em;
  max-height: 45px;
  font-weight: bold;
}

.DPClosed {
  transform: translateY(100%);
  opacity: 0;
}

.DPOpen {
  transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 550px), (max-height: 1000px) {
  .deleteModal {
    font-size: 9px;
  }
}

@media (max-width: 490px), (max-height: 850px) {
  .deleteModal {
    font-size: 8px;
  }
}

@media (max-width: 435px), (max-height: 700px) {
  .deleteModal {
    font-size: 7px;
  }
}

@media (max-width: 390px), (max-height: 600px) {
  .deleteModal {
    font-size: 6px;
  }
}
