#GLMaster {
  min-height: 100vh;
  padding: 50px 0px 75px 0px;
}

.formHide {
  display: none;
}

.formShow {
  position: absolute;
  background-color: white;
  border: 1px solid red;
  transform: translate(-5px, -30px);
}

#guestListContainer {
  width: 100%;
  height: 50%;
  max-height: 400px;
  overflow: scroll;
  border: 1px solid black;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guestBox {
  width: 100%;
  padding: 20px 0px;
  margin: 15px 0px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expandedCard {
  margin: 0;
  width: 100%;
}

.expandedCardRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  margin: 10px 0 0 0;
}

.longEmail {
  overflow: scroll;
  width: 93%;
  margin: 0 0 0 10px;
  padding: 0;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.longText {
  width: 93%;
  text-align: start;
  margin: 0 0 0 10px;
}

.longEmail::-webkit-scrollbar {
  width: 5px;
  height: 0px; /* If value is 0px, the horizontal bar will disappear but still works*/
}

.expandedCardRowL {
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.expandedCardRowR {
  margin: 0 10px 0 10px;
  /* max-width: 60%; */
  /* text-align: end; */
}

.expandedCardRowAlt {
  margin: 0;
  width: 100%;
}

#updateGuestContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.63);
  transition-duration: 1s;
  backdrop-filter: blur(4px);
  z-index: 5;
}

.UGCClosed {
  transform: translateY(100%);
}

.UGCOpen {
  transform: translateY(0%);
}

#GLUpdateButton {
  /* margin: 36px 0px 0px 0px; */
}

#addNewGuestButton {
  margin: 15px 0px 30px 0px;
  align-self: center;
}

#guestListErrorDiv {
  height: 30px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

#guestListAddError {
  color: rgb(197, 2, 2);
  font-weight: bold;
  margin: 0px;
}
