#myEventsContainer {
  padding: 75px 0px 60px 0px;
  min-height: 100vh;
  font-size: 10px;
}

#MEEventCount {
  font-size: 1.5em;
}

.eventBox {
  width: 20em;
  height: 20em;
  margin: 1.5em 0px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1em 0px;
  font-size: inherit;
}

#eventBoxHost {
  font-size: 1.5em;
}

#eventBoxTitle {
  font-size: 3em;
  margin: 1em 0.3em 0em 0.3em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.1em;
}

#MEWrench {
  width: 3.2em;
  height: auto;
}

#METrash {
  width: 2.5em;
  height: auto;
}

#createEventButtonWrapper {
  font-size: inherit;
  position: relative;
  height: 20em;
  width: 17.7em;
  margin: 6em 0em 5em 0em;
  transform: translateX(4em);
}

#CEBalloon {
  font-size: inherit;
  height: 100%;
  width: auto;
  z-index: 1;
}

#createEventBLink {
  position: absolute;
  z-index: 2;
  font-size: inherit;
  outline: none;
  border: none;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(0.6em, 0.6em);
}

#createEventBButton {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
}

#MEWrenchLink {
  font-size: inherit;
}

.MyEventsIcon {
  font-size: inherit;
  border: 0.4em solid white;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: transparent;
}

.MyEventsIconSVG path {
  fill: white;
}

.MEButtonWrapper {
  width: 50%;
  font-size: inherit;
}

.MEButtonRow {
  margin: auto 0 0 0;
  font-size: inherit;
}

@media (max-width: 650px) {
  #myEventsContainer {
    font-size: 9px;
  }
}

@media (max-width: 550px) {
  #myEventsContainer {
    font-size: 8px;
  }
}

@media (max-width: 450px) {
  #myEventsContainer {
    font-size: 7px;
  }
}
